# Copy to .env. Lists use JSON array syntax.
GEMINI_API_KEYS='[]'
GROQ_API_KEYS='[]'
PEXELS_API_KEYS='[]'
PIXABAY_API_KEY='""'
OPENAI_API_KEY='""'
USEAPI_TOKEN='""'
USEAPI_EMAIL='""'
SOCIAL_APP_CREDENTIALS='{}'
SOCIAL_ACCOUNT_CREDENTIALS='{}'
