__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.ropeproject
.idea/
.vscode/
.DS_Store
*.mp4
*.mp3
*.wav
*.aac
*.jpg
*.jpeg
*.png
grok_downloads/
grok_profiles/
baseTEMP_*
